# Spark Context

In [1]:
import pyspark

from pyspark import SparkContext

conf = pyspark.SparkConf().setMaster("local").setAppName("first")
sc = SparkContext(conf=conf)
sc.stop()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 08:33:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
import pyspark

import findspark
findspark.init('/usr/local/spark')

from pyspark import SparkContext

conf = pyspark.SparkConf().setMaster("local").setAppName("first")
sc = SparkContext(conf=conf)

In [3]:
rdd=sc.parallelize([1,2,3])

In [4]:
rdd.collect()

[1, 2, 3]

In [5]:
sc

In [6]:
rdd2=sc.parallelize(["Python","SQL","PySpark"])
display(rdd2)
display(rdd2.collect())
display(type(rdd2))

ParallelCollectionRDD[1] at readRDDFromFile at PythonRDD.scala:287

['Python', 'SQL', 'PySpark']

pyspark.rdd.RDD

In [7]:
rdd3=sc.parallelize([1,2,3,4,5,6,7,8])
rdd3.collect()

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
# Make the elements twice inside the list twice of the RDD
# [2,4,6,8,10,12,14,16]
rdd4 = rdd3.map(lambda x:x*2)
rdd4.collect()

[2, 4, 6, 8, 10, 12, 14, 16]

In [9]:
# Save all the even numbers in new rdd
rdd5 = rdd3.filter(lambda x: x%2==0)
rdd5.collect()

[2, 4, 6, 8]

# Spark Session

In [10]:
from pyspark.sql import SparkSession

# Create a Spark Session
spark = SparkSession.builder.appName("RDDExample").getOrCreate()

In [16]:
df = spark.createDataFrame([[14,23,63]])
df.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
| 14| 23| 63|
+---+---+---+

In [19]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])

df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [20]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [24]:
schema = 'a long, b double, c string, d date, e timestamp'
data = [
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
]

df = spark.createDataFrame(data,schema)
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [25]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [26]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})

df = spark.createDataFrame(pandas_df)
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [27]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [31]:
data2 = [(1,'a','z',777700,'India'),(2,'b','y',9890,'India')]
schema2 = 'ID int, First_Name string, Last_Name string, Phone_Number long, Country string'
df3 = spark.createDataFrame(data2, schema2)
df3.show()

+---+----------+---------+------------+-------+
| ID|First_Name|Last_Name|Phone_Number|Country|
+---+----------+---------+------------+-------+
|  1|         a|        z|      777700|  India|
|  2|         b|        y|        9890|  India|
+---+----------+---------+------------+-------+

In [32]:
df3.dtypes

[('ID', 'int'),
 ('First_Name', 'string'),
 ('Last_Name', 'string'),
 ('Phone_Number', 'bigint'),
 ('Country', 'string')]

In [33]:
df3.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Phone_Number: long (nullable = true)
 |-- Country: string (nullable = true)

In [34]:
users = [{
    "id": 1,
    "first_name": 'a',
    "amount_paid": 10000
},{
    "id": 2,
    "first_name": 'b',
    "amount_paid": 10203
}]

df4 = spark.createDataFrame(users)
df4.show()

+-----------+----------+---+
|amount_paid|first_name| id|
+-----------+----------+---+
|      10000|         a|  1|
|      10203|         b|  2|
+-----------+----------+---+

#### Reading CSV

In [43]:
df = spark.read.option("header", True).csv('employees.csv')
df.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [44]:
df.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Bonus %: string (nullable = true)
 |-- Senior Management: string (nullable = true)
 |-- Team: string (nullable = true)

In [45]:
df = spark.read.option("header", True).option("inferschema", True).csv('employees.csv')
df.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)

In [49]:
df.select("First Name","Gender").show(4)

+----------+------+
|First Name|Gender|
+----------+------+
|   Douglas|  Male|
|    Thomas|  Male|
|     Maria|Female|
|     Jerry|  Male|
+----------+------+
only showing top 4 rows

In [59]:
# df.select("First Name".alias("Name"))
# Error Received: (AttributeError: 'str' object has no attribute 'alias')

# Imp to know difference between column type and string type
from pyspark.sql.functions import col
df.select(col("First Name").alias("Name")).show(5)

+-------+
|   Name|
+-------+
|Douglas|
| Thomas|
|  Maria|
|  Jerry|
|  Larry|
+-------+
only showing top 5 rows

In [60]:
df.select("First Name", col("Gender"), df["Team"]).show(5)

+----------+------+---------------+
|First Name|Gender|           Team|
+----------+------+---------------+
|   Douglas|  Male|      Marketing|
|    Thomas|  Male|           null|
|     Maria|Female|        Finance|
|     Jerry|  Male|        Finance|
|     Larry|  Male|Client Services|
+----------+------+---------------+
only showing top 5 rows

In [62]:
df.withColumnRenamed('First Name', 'Name').show(5)

+-------+------+----------+---------------+------+-------+-----------------+---------------+
|   Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|           Team|
+-------+------+----------+---------------+------+-------+-----------------+---------------+
|Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|      Marketing|
| Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|           null|
|  Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|        Finance|
|  Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|        Finance|
|  Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|Client Services|
+-------+------+----------+---------------+------+-------+-----------------+---------------+
only showing top 5 rows

In [72]:
from pyspark.sql.functions import *
df.select(concat('Start Date',lit(' '),'Last Login Time')).show(5)

+--------------------------------------+
|concat(Start Date,  , Last Login Time)|
+--------------------------------------+
|                     8/6/1993 12:42 PM|
|                     3/31/1996 6:53 AM|
|                    4/23/1993 11:17 AM|
|                      3/4/2005 1:00 PM|
|                     1/24/1998 4:47 PM|
+--------------------------------------+
only showing top 5 rows

In [79]:
from pyspark.sql.functions import *
df.select(
    "*",
    concat('Start Date',lit(' '),'Last Login Time').alias("DateTime")
).show(5)

+----------+------+----------+---------------+------+-------+-----------------+---------------+------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|           Team|          DateTime|
+----------+------+----------+---------------+------+-------+-----------------+---------------+------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|      Marketing| 8/6/1993 12:42 PM|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|           null| 3/31/1996 6:53 AM|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|        Finance|4/23/1993 11:17 AM|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|        Finance|  3/4/2005 1:00 PM|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|Client Services| 1/24/1998 4:47 PM|
+----------+------+----------+---------------+------+-------+-----------------+---------------+------------------+
only showing top 5 rows

In [85]:
from pyspark.sql.functions import *
df1 = df.select("*",concat('Start Date',lit(' '),'Last Login Time').alias("DateTime"))
df1 = df1.drop("Start Date", "Last Login Time")
df1.show(5)

+----------+------+------+-------+-----------------+---------------+------------------+
|First Name|Gender|Salary|Bonus %|Senior Management|           Team|          DateTime|
+----------+------+------+-------+-----------------+---------------+------------------+
|   Douglas|  Male| 97308|  6.945|             true|      Marketing| 8/6/1993 12:42 PM|
|    Thomas|  Male| 61933|   4.17|             true|           null| 3/31/1996 6:53 AM|
|     Maria|Female|130590| 11.858|            false|        Finance|4/23/1993 11:17 AM|
|     Jerry|  Male|138705|   9.34|             true|        Finance|  3/4/2005 1:00 PM|
|     Larry|  Male|101004|  1.389|             true|Client Services| 1/24/1998 4:47 PM|
+----------+------+------+-------+-----------------+---------------+------------------+
only showing top 5 rows

In [86]:
df1.write.csv("Spark_Final_Dataframe.csv")