In [1]:
import pyspark

from pyspark import SparkContext

conf = pyspark.SparkConf().setMaster("local").setAppName("first")
sc = SparkContext(conf=conf)
sc.stop()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 04:21:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
import pyspark

import findspark
findspark.init('/usr/local/spark')

from pyspark import SparkContext

conf = pyspark.SparkConf().setMaster("local").setAppName("first")
sc = SparkContext(conf=conf)

In [3]:
import pyspark
from pyspark.sql import SparkSession

# Create a Spark Session
spark = SparkSession.builder.appName("example").getOrCreate()

In [4]:
import datetime
from pyspark.sql import Row
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "gender": "male",
        "current_city": "Dallas",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "gender": "male",
        "current_city": "Houston",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "gender": "female",
        "current_city": "",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "gender": "male",
        "current_city": "San Fransisco",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "gender": "female",
        "current_city": None,
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]

In [5]:
df=spark.createDataFrame(users)

In [6]:
df.show()

+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses| current_city|customer_from|               email|first_name|gender| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|       Dallas|   2021-01-15|cvandenoord0@etsy...|    Corrie|  male|  1|       true|Van den Oord|2021-02-10 01:15:00|{+1 234 567 8901,...|
|      900.0|    [3]|      Houston|   2021-02-14|nbrewitt1@dailyma...|  Nikolaus|  male|  2|       true|     Brewitt|2021-02-18 03:33:00|{+1 234 567 8923,...|
|     850.55| [2, 4]|             |   2021-01-21|openney2@vistapri...|    Orelie|female|  3|       true|      Penney|2021-03-15 15:16:55|{+1 714 512 9752,...|
|       null|     []|San Fransisco|         null|  amaddocks3@home.pl|     Ashby|  male|  4|      false|    Maddocks|2021-04-10 17:45:30|        {null, null}|
|       null|     []|         null|         null|krome4@shutterfly...|      Kurt|female|  5|      false|        Rome|2021-04-02 00:55:18|{+1 817 934 7142,...|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+

In [8]:
from pyspark.sql.functions import *
df.select("id","current_city").filter(col("current_city").isNotNull()).show()

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

In [9]:
df\
.select("id","current_city")\
.where('current_city IS NOT NULL')\
.show()

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

In [10]:
df.select("id","customer_from").where("customer_from IS NULL").show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  4|         null|
|  5|         null|
+---+-------------+

In [11]:
df.select("id","customer_from").where(col("customer_from").isNull()).show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  4|         null|
|  5|         null|
+---+-------------+

In [12]:
df.select("id","current_city","customer_from").orderBy("customer_from").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  4|San Fransisco|         null|
|  5|         null|         null|
|  1|       Dallas|   2021-01-15|
|  3|             |   2021-01-21|
|  2|      Houston|   2021-02-14|
+---+-------------+-------------+

In [13]:
df.select("id","current_city","customer_from").orderBy("current_city").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  5|         null|         null|
|  3|             |   2021-01-21|
|  1|       Dallas|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  4|San Fransisco|         null|
+---+-------------+-------------+

In [14]:
df.select('id','current_city','customer_from').orderBy(df.customer_from.desc()).show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  1|       Dallas|   2021-01-15|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [16]:
df.select("id","current_city","customer_from").orderBy(desc_nulls_last("customer_from")).show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  1|       Dallas|   2021-01-15|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [17]:
# asc_nulls_first, desc_nulls_first, asc_nulls_last, desc_nulls_last

In [22]:
df1 = spark.read.option("header",True).csv("zipcode.csv")

In [23]:
df1.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               null|   TX|      null|
|  1|    704|STANDARD|               null|   PR|     30100|
|  1|    704|STANDARD|               null|   PR|     30100|
+---+-------+--------+-------------------+-----+----------+

In [37]:
df2 = df1.drop_duplicates()

In [38]:
df2.dropna().show()

+---+-------+------+-----------------+-----+----------+
| id|zipcode|  type|             city|state|population|
+---+-------+------+-----------------+-----+----------+
|  4|  76166|UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+------+-----------------+-----+----------+

In [39]:
df2.na.drop('all').show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  5|  76177|STANDARD|               null|   TX|      null|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
+---+-------+--------+-------------------+-----+----------+

In [28]:
df1.na.drop(subset='population').show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  1|    704|STANDARD|             null|   PR|     30100|
|  3|    709|    null|     BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
|  1|    704|STANDARD|             null|   PR|     30100|
|  1|    704|STANDARD|             null|   PR|     30100|
+---+-------+--------+-----------------+-----+----------+

In [33]:
df1.dropna("all",subset="type").show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  1|    704|STANDARD|             null|   PR|     30100|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|             null|   TX|      null|
|  1|    704|STANDARD|             null|   PR|     30100|
|  1|    704|STANDARD|             null|   PR|     30100|
+---+-------+--------+-----------------+-----+----------+

In [34]:
df1.na.fill(30000).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               null|   TX|      null|
|  1|    704|STANDARD|               null|   PR|     30100|
|  1|    704|STANDARD|               null|   PR|     30100|
+---+-------+--------+-------------------+-----+----------+

In [42]:
df2.fillna(30000).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  5|  76177|STANDARD|               null|   TX|      null|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
+---+-------+--------+-------------------+-----+----------+

In [41]:
df2.fillna("Mumbai",subset="city").show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|             Mumbai|   PR|     30100|
|  5|  76177|STANDARD|             Mumbai|   TX|      null|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
+---+-------+--------+-------------------+-----+----------+

In [43]:
df2.na.fill({'type':"VIP",'population':30000, 'city':"Mumbai"}).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|             Mumbai|   PR|     30100|
|  5|  76177|STANDARD|             Mumbai|   TX|     30000|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  2|    704|     VIP|PASEO COSTA DEL SUR|   PR|     30000|
|  3|    709|     VIP|       BDA SAN LUIS|   PR|      3700|
+---+-------+--------+-------------------+-----+----------+

In [44]:
df2.na.drop(thresh=5).show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  1|    704|STANDARD|             null|   PR|     30100|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
|  3|    709|    null|     BDA SAN LUIS|   PR|      3700|
+---+-------+--------+-----------------+-----+----------+

In [49]:
df.select("id","current_city","customer_from").replace("","LA").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  1|       Dallas|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  3|           LA|   2021-01-21|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [50]:
df.select("id","current_city","customer_from").replace("Dallas","LA").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  1|           LA|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

# Baby Names Dataset

In [53]:
df = spark.read.option("header", True).option("inferschema", True).csv("Baby_Names.csv")

In [55]:
df.show(5)

+----+----------+-------+---+-----+
|Year|First Name| County|Sex|Count|
+----+----------+-------+---+-----+
|2007|      ZOEY|  KINGS|  F|   11|
|2007|      ZOEY|SUFFOLK|  F|    6|
|2007|      ZOEY| MONROE|  F|    6|
|2007|      ZOEY|   ERIE|  F|    9|
|2007|       ZOE| ULSTER|  F|    5|
+----+----------+-------+---+-----+
only showing top 5 rows

In [60]:
df.groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|2007| 6367|
|2013| 6158|
|2014| 8362|
|2012| 6164|
|2009| 6312|
|2010| 6192|
|2011| 6216|
|2008| 6481|
+----+-----+

In [61]:
df.count()

52252

In [63]:
df.groupBy("Year").count().sort(col("Year").desc()).show()

+----+-----+
|Year|count|
+----+-----+
|2014| 8362|
|2013| 6158|
|2012| 6164|
|2011| 6216|
|2010| 6192|
|2009| 6312|
|2008| 6481|
|2007| 6367|
+----+-----+

In [65]:
df.write.mode("overwrite").parquet("processed_data/Baby_Names_Parquet")

In [66]:
df.write.mode("overwrite").option("path","processed_data/Baby_Names_Table").saveAsTable("babynames")

In [69]:
df.write.mode("overwrite").partitionBy("Year").option("path","processed_data/Baby_Partition").saveAsTable("babynamesyear")

Py4JJavaError: An error occurred while calling o358.saveAsTable.
: java.io.FileNotFoundException: File file:/home/labuser/Desktop/Shyam/spark-warehouse/processed_data/Baby_Partition does not exist
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:597)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.spark.sql.execution.command.RepairTableCommand.scanPartitions(ddl.scala:751)
	at org.apache.spark.sql.execution.command.RepairTableCommand.run(ddl.scala:703)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:95)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:195)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:246)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:243)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:191)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:190)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:189)
	at org.apache.spark.sql.execution.command.CreateDataSourceTableAsSelectCommand.run(createDataSourceTables.scala:201)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:488)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:133)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.createTable(DataFrameWriter.scala:697)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:675)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:570)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)

In [71]:
spark.sql("select * from babynamesyear").show()

+----------+------+---+-----+----+
|First Name|County|Sex|Count|Year|
+----------+------+---+-----+----+
+----------+------+---+-----+----+

In [82]:
df.write\
.mode("overwrite")\
.partitionBy("Year")\
.option("path","/home/labuser/Desktop/Shyam/processed_data/Baby_Names_Year")\
.saveAsTable("babynames_year")

In [81]:
df.write\
.mode("overwrite")\
# .option("maxRecordsPerFile",4000)
.partitionBy("Year","Sex")\
.option("path","/home/labuser/Desktop/Shyam/processed_data/Baby_Names_Year_Gender/")\
.saveAsTable("babynames_year_gender")