# Python Introduction

In [2]:
print("Hello World")

Hello World

Python Data Types

In [5]:
a=10
type(a)

int

In [6]:
a=10.0   # Mutable and Immutable
type(a)

float

In [9]:
b="python"
c='python'
print(b)
print(type(b))
print(c)
print(type(c))

python
<class 'str'>
python
<class 'str'>

In [10]:
b ='''python'''
type(b)

str

In [11]:
c="""python"""
type(c)

str

In [12]:
a="true"
type(a)

str

In [13]:
a=True
type(a)

bool

In [14]:
a=False
type(a)

bool

In [21]:
a="""Dara
goes
to 
drink water."""

print(a)

Dara
goes
to
drink rum.

In [22]:
a=10
b=20
c=30
a+b+c

60

In [23]:
True+True

2

In [24]:
True+True+True+True

4

In [25]:
True+False+True+False

2

In [27]:
print('''
Read
Shelll
with S as silent''')

Read
Shelll
with S as silent

In [28]:
a=30
b=40
print(a>b)
print(a<b)
print(a==b)
print(a!=b)

False
True
False
True

In [29]:
c=10+20i
c

SyntaxError: invalid decimal literal (3799739298.py, line 1)

In [31]:
c=10+20j
print(c)
print(type(c))

(10+20j)
<class 'complex'>

# Very Important: Mutable and Immutable
All fundamental data types are immutable

Fundamental Data Types
1. int
2. float
3. string
4. boolean
5. complex

In [45]:
a=10
print("ID of a -", id(a))  # Goes to Garbage Collection 
a=20
print("ID of a -", id(a)) # New Object Created

ID of a - 8885288
ID of a - 8885608

In [46]:
a=30
print("ID of a -", id(a))
c=30
print("ID of c -", id(c))

ID of a - 8885928
ID of c - 8885928

In [47]:
a=30
print("ID of a -", id(a))
c=30.0
print("ID of c -", id(c))

ID of a - 8885928
ID of c - 139702692003568

In [65]:
s="Data Engineering"
print(id(s))

# Every string starts from indexing and slicing
print(s[0])
print(s[-1])
print(s[1:3])
print(s[12:])
print(s[:-12])
print(s[-11:-5])
print("Length of string:", len(s))

139702114652832
D
g
at
ring
Data
Engine
Length of string: 16

In [71]:
s="abcdefghijklmnopqrstuvwxyz"
print("Print mno:", s[12:15])
print("Print xyz:", s[-3:])
print("Print a-n:", s[:14])

# What will be the output for s[3:1000]

Print mno: mno
Print xyz: xyz
Print a-n: abcdefghijklmn

# Python operators

1. Arithmetic Operators
2. Logical Operators
3. Relational Operators

In [80]:
a=11
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

14
8
33
3.6666666666666665
2
3
1331

In [81]:
a=11.0
b=2
print(a/b)
print(a//b)

5.5
5.0

In [84]:
a=10.0
b=-3.0
print(a/b)
print(a//b)
print(a%b)

-3.3333333333333335
-4.0
-2.0

In [85]:
a=2
b=3
c=2
a**b**c

512

Relational Operators / Comparison Operators

In [86]:
a=10
b=20

In [87]:
a>b

False

In [88]:
a<b

True

In [89]:
a!=b

True

In [90]:
a==b

False

In [91]:
a>=b

False

In [92]:
a<=b

True

In [99]:
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [100]:
a=True
b=True
print(a and b)
print(a or b)
print(not a)

True
True
False

In [102]:
is_geological_survey_complete = True
is_environmental_clearance_received = True
is_market_demand_high = False

should_start_drilling = is_geological_survey_complete and is_environmental_clearance_received and is_market_demand_high
should_start_drilling

False

In [103]:
should_start_drilling = is_geological_survey_complete or is_environmental_clearance_received and is_market_demand_high
should_start_drilling

True

In [104]:
should_start_drilling = is_geological_survey_complete and is_environmental_clearance_received or is_market_demand_high
should_start_drilling

True

In [106]:
# Boolean Variables
HasExplorationPermit = True
HasDrillingRights = True
HasEnvironmentalApproval = False
HasOilDiscovery = True

 

# Logical Operations
IsExplorationAllowed = HasExplorationPermit and HasDrillingRights and not HasEnvironmentalApproval
IsDiscoveryProfitable = HasOilDiscovery and (HasExplorationPermit or HasDrillingRights)

print(IsExplorationAllowed)
print(IsDiscoveryProfitable)

True
True

In [107]:
10+20

30

In [108]:
10*20

200

In [109]:
"ten"+"twenty"

'tentwenty'

In [110]:
"ten"*"twenty"

TypeError: can't multiply sequence by non-int of type 'str'

In [111]:
"ten"+10

TypeError: can only concatenate str (not "int") to str

In [112]:
"10"*"2"

TypeError: can't multiply sequence by non-int of type 'str'

In [113]:
"10"*2

'1010'

In [114]:
"ten"*"twenty"

TypeError: can't multiply sequence by non-int of type 'str'

# Complex Data Types

1. List
2. Tuple
3. Set
4. Range
5. Dictionary

### List
1. Hetrogeneous objects are allowed
2. Duplicates are allowed
3. Indexing and slicing are possible
4. Enclosed in square brackets
5. Mutables
6. Order is preserved

In [115]:
a=[10,"python",5.2,'hello',True]
a

[10, 'python', 5.2, 'hello', True]

In [116]:
id(a)

139702113032640

In [117]:
a.append(999)

In [118]:
a

[10, 'python', 5.2, 'hello', True, 999]

In [119]:
id(a)

139702113032640

In [120]:
a[1:]

['python', 5.2, 'hello', True, 999]

In [121]:
a[-2]

True

In [123]:
a[:-3]

[10, 'python', 5.2]

In [125]:
list(a)

[10, 'python', 5.2, 'hello', True, 999]

### Tuple

1. Enclosed in () brackets.
2. Same as list except immutable.

In [127]:
s = ('Well A', '2023-02-03', 'Pipeline', '10.0', 9.5, True)

In [128]:
s

('Well A', '2023-02-03', 'Pipeline', '10.0', 9.5, True)

In [129]:
type(s)

tuple

In [130]:
s[2]

'Pipeline'

In [131]:
s[-1]

True

In [132]:
s.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [135]:
name="Shyam"
dept="ML"
print("I am {} working as {}".format(name,dept))

I am Shyam working as ML

In [141]:
print("I am %s working as %s.." %(name,dept))

I am Shyam working as ML..

In [138]:
print(f"I am {name} working as {dept}")

I am Shyam working as ML

In [144]:
# Employee details
name = "John Doe"
job_title = "Senior Geologist"
department = "Geology"
email = "johndoe@email.com"
phone = "123-456-7890"

print("Employee Information")
print("Name:", name)
print("Job Title:", job_title)
print("Department:", department)
print("Email:", email)
print("Phone:", phone)

Employee Information
Name: John Doe
Job Title: Senior Geologist
Department: Geology
Email: johndoe@email.com
Phone: 123-456-7890

In [145]:
print(f"Employee Information:\nName: {name}\nJob Title: {job_title}\nDepartment: {department}\nEmail: {email}\nPhone: {phone}")

Employee Information:
Name: John Doe
Job Title: Senior Geologist
Department: Geology
Email: johndoe@email.com
Phone: 123-456-7890

### Set

1. Heterogeneous Object
2. Duplicates are not allowed
3. Order is not preserved
4. Enclosed in {} brackets
5. Slicing and indexing are not possible
6. Mutable

In [151]:
s={10,10.5,"Shell",True,True,8.0,"Hi"}

In [152]:
s

{10, 10.5, 8.0, 'Hi', 'Shell', True}

In [153]:
id(s)

139702691183552

In [154]:
s.add(15)

In [155]:
s

{10, 10.5, 15, 8.0, 'Hi', 'Shell', True}

In [156]:
id(s)

139702691183552

### Dictionary

1. Enclosed in {} 
2. Key-value pair
3. Key should be unique
4. Hetrogeneous Objects

In [161]:
d={"location":"Angelia", "Start-Date":"2023-09-01", "Duration":9, "status":False}

In [162]:
d

{'location': 'Angelia',
 'Start-Date': '2023-09-01',
 'Duration': 9,
 'status': False}

In [163]:
type(d)

dict

In [164]:
id(d)

139702114399296

### Membership Operators

1. in
2. not in

In [165]:
s="python"
'a' in s

False

In [166]:
'y' in s

True

In [169]:
'to'not in s

True

In [168]:
'tho' in s

True

In [171]:
# List of Equipment
refineryEquipment = ["Crude Distillation Unit", "Catalytic Cracking Unit", "Hydrotreating Unit", "FCC Unit"]

# Membership Operator
IsUnitInstalled = "Hydrotreating Unit" in refineryEquipment
IsUnitObsolete = "Thermal Cracking Unit" not in refineryEquipment

print("Is Hydrotreating Unit installed?", IsUnitInstalled)
print("Is Thermal Cracking Unit obsolete?", IsUnitObsolete)

Is Hydrotreating Unit installed? True
Is Thermal Cracking Unit obsolete? True

In [184]:
employees = [
    "John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890",
    "Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210",
    "Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123",
    "Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456"
]

In [185]:
# Access and print the details of the first employee in the list.
employees[0]

'John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890'

In [186]:
# b. Add a new employee to the end of the list.
new_employee = "Eva Green, Drilling Technician,Drilling, evagreen@email.com, 111-222-3333"
employees.append(new_employee)
employees

['John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890',
 'Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210',
 'Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123',
 'Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456',
 'Eva Green, Drilling Technician,Drilling, evagreen@email.com, 111-222-3333']

### Flow Control

#### Selection Statement
- If
- If-Else
- If-Elif-Else

In [190]:
age=int(input("Enter your age: "))
if(age>18):
    print("Eligible to Vote!!!")
else:
    print("Not Eligible For Voting")

Enter your age: 19
Eligible to Vote!!!

In [200]:
low_fuel_threshold=1000
critical_fuel_threshold=500
current_fuel_level=int(input("Enter current fuel level: "))
current_fuel_level

Enter current fuel level: 300

300

In [201]:
if current_fuel_level < critical_fuel_threshold:
    print("Critical Fuel Level reached. Take Immediate Action")
elif current_fuel_level < low_fuel_threshold:
    print("Send Fuel Low Alter")
else:
    print("Continue Fueling.")

Critical Fuel Level reached. Take Immediate Action

In [202]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [203]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [204]:
for i in range(5,19,3):
    print(i)

5
8
11
14
17

In [207]:
for i in range(25, 8, -2):
    print(i)

25
23
21
19
17
15
13
11
9

In [208]:
for i in range(10, -10, -2):
    print(i)

10
8
6
4
2
0
-2
-4
-6
-8

In [209]:
l1=['a','b','c']
l2=["Sales","IT","Finance"]

In [214]:
l3=list(zip(l1,l2))

In [215]:
l3

[('a', 'Sales'), ('b', 'IT'), ('c', 'Finance')]

In [216]:
oil_gas_data = [
    ("Field A", "Texas", 500000),
    ("Field B", "Alaska", 800000),
    ("Field C", "North Sea", 300000),
    ("Field D", "Gulf of Mexico", 600000),
]

In [217]:
fields, locations, production = zip(*oil_gas_data) # * is used for variable length

print("Fields:", fields)
print("Locations:", locations)
print("Production:", production)

Fields: ('Field A', 'Field B', 'Field C', 'Field D')
Locations: ('Texas', 'Alaska', 'North Sea', 'Gulf of Mexico')
Production: (500000, 800000, 300000, 600000)

In [218]:
e=list(enumerate(locations))

In [219]:
e

[(0, 'Texas'), (1, 'Alaska'), (2, 'North Sea'), (3, 'Gulf of Mexico')]

In [220]:
e[0][0]

0

In [221]:
e[0][1]

'Texas'

In [222]:
e=list(enumerate(fields))

In [224]:
e

[(0, 'Field A'), (1, 'Field B'), (2, 'Field C'), (3, 'Field D')]

In [225]:
for index, field_data in enumerate(oil_gas_data):
    field_name, location, reserve = field_data
    print(f"Field {index+1}: {field_name} is located in {location} with reserves of {reserve} barrels.")

Field 1: Field A is located in Texas with reserves of 500000 barrels.
Field 2: Field B is located in Alaska with reserves of 800000 barrels.
Field 3: Field C is located in North Sea with reserves of 300000 barrels.
Field 4: Field D is located in Gulf of Mexico with reserves of 600000 barrels.

In [227]:
print(locations)

('Texas', 'Alaska', 'North Sea', 'Gulf of Mexico')

In [229]:
from collections import Counter
f=Counter(locations)

In [230]:
f

Counter({'Texas': 1, 'Alaska': 1, 'North Sea': 1, 'Gulf of Mexico': 1})